*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
.idea/sonarlint/.sonartmp/
app/libs/
smartthings/libs/
smartthings/src/main/java/ke/co/appslab/smartthings/ui/camera/
/smartthings/google-services.json
